html, body {
	margin: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: sans-serif;
}

.container {
	width: 100%;
    margin-top: 30px;
    padding: 0;
  }

li {
	list-style: none;
}
.navbar .nav {
    float: none;
}

a {
	text-decoration: none;
	color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

/* header */
#header-color {
  background-color: #b9e3ca;
  height: 75px;
  border-bottom: black solid 1px;
  width: 100%;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 20px;
}

.menuline {
	border-bottom: solid 1px black;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 25px;
}

.drop_items {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
	line-height: 2px;
}

.drop_items a a.hover a.selected {
	color: black;
	text-decoration: none;
	}

/* text blocks  */
#co_name {
	position: absolute;
	margin-left: 15px;
	margin-top: 0px;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	float: left;
	color: black;
}

.fill {
	background-color: #cacaca;
	padding: 15px;
	margin-bottom: 25px;
}

.our_menu {
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.our_menu a:hover {
	text-decoration: none;
	color: #000;
}


.menu_items {
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.menu_items a:hover {
	text-decoration: none;
	color: #000;
}


.menutext {
	font-family: sans-serif;
	font-size: 14px;
	text-align: left;
	color: #000;
}

.navbar-header .navtitle {
	font-weight: bold;
	color: black;
	text-align: left;
	margin-left: -35px;

	
}




/* Menu blocks */

/*　　MD    */
@media (min-width: 1200px) {
 .navbar-collapse.collapse {
        display: none!important;
    }
   }

/*   SM    */
@media (min-width: 992px) and (max-width: 1199px) {
   .navbar-collapse.collapse {
        display: none!important;
    }
   }

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .navbar-collapse.collapse {
        display: none!important;
    }

}

/*   XS   */
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 25px;
    height: 80px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

 



